<!DOCTYPE html>

<html>

<head>
    <title>Bloc Crud</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/pulse/bootstrap.min.css" integrity="sha384-L7+YG8QLqGvxQGffJ6utDKFwmGwtLcCjtwvonVZR/Ba2VzhpMwBz51GaXnUsuYbj" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<body style="background-color: #6a1ec7b4;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">SalleBlocOccupation</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <strong></strong><a class="nav-link" href="/bloc">Bloc <span class="sr-only">(current)</span></a></strong>
      </li>
      <li class="nav-item active">
        <strong><a class="nav-link" href="/salle">Salle <span class="sr-only">(current)</span></a></strong>
      </li>
	  <li class="nav-item active">
        <strong></strong><a class="nav-link" href="/crenau">Crenau <span class="sr-only">(current)</span></a></strong>
      </li>
	  <li class="nav-item active">
        <strong></strong><a class="nav-link" href="/occupation">Occupation <span class="sr-only">(current)</span></a></strong>
      </li>

    </ul>

  </div>
</nav>

    <div class="row">
        <div class="col-md-8 offset-md-2" style="background: #fff;margin-top: 100px;padding:40px;border-radius: 40px; box-shadow: 30px 30px 10px gray;">
            {{{body}}}
        </div>
    </div>

</body>

</html>